:root {
    --color1: #0F0F0F;
    --color2: #03223f;
    --color3: #038bbb;
    --color4: #ebf7f8;
}
*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-color: var(--color1);
}
main {
    background-color: var(--color3);
    color: var(--color4);
    width: 50%;
}
h2 {
    display: flex;
    justify-content: center;
    padding: 15px;
}
p{
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: var(--color2);
}
li p {
    display: flex;
    justify-content: center;
    padding: 15px;
    text-transform: capitalize;
}
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--color2);
}
.boton {
    text-decoration: none;
    color: var(--color4);
    padding: 15px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    background-color: var(--color3);
}
form label {
    display: flex;
    justify-content: center;
}
form * {
    outline: none;
}
button {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
    margin: 20px;
    padding: 5px;
    text-transform: uppercase;
}
ul {
    max-height: 60vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding: 5px;
}
ul li {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 5px;
    background-color: var(--color2);
    margin: 5px;
}